-@ val entries: Map[String, com.verknowsys.served.api.Logger.Levels.Value]
-@ val form: BaseForm

h2 Logger
table
  tr
    th Class name
    th Level
    - for((className, level) <- entries)
      tr
        td= className
        td= level

h3 New entry
= form.toHtml
