- import com.verknowsys.served.utils.Dict
- include("layout.jade")

h1= Dict("User Panel")
h3= Dict("Welcome") + " " + account.userName
p= Dict("Details") + ": " + account

div.target Coś sensownego
div.target2 Cel
