- import com.verknowsys.served.utils.Dict
- import com.verknowsys.served.web.merch._
- include("layout.jade")

h1= Dict("User Panel")
h3= Dict("Welcome") + " " + account.userName
p= Dict("Details") + ": " + account