- import com.verknowsys.served.utils.Dict

script(type="text/javascript")(src="/assets/js/raphael-min.js")
script(type="text/javascript")(src="/assets/js/g.graphael.js")
script(type="text/javascript")(src="/assets/js/g.dot.js")
script(type="text/javascript")(src="/assets/js/proclist.js")
//- section#holder
article
  header ProcList
  #holder Cos

