/*	Introduction
	@
	@	Project: Tymon's Administration Panel
	@	Title: Main CSS style of this project
	@	Release: 10.07.2010 @ 12:39
	@	Update:  10.07.2010 @ 13:34
	@
------------------------------------------------------ */

/*	Table of contents
	
	1. Reset
	2. General
	3. Links
	4. Layout
	5. Main navigation
	6. Content
	7. Sidebar (Sub navigation)
	8. Common stylization
------------------------------------------------------ */


/*	1. Reset
------------------------------------------------------ */
html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address,cite, code,
del, dfn, em, img, ins, kbd, q, strong, sub, sup, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

ol, ul { list-style: none; }
a, del, ins { text-decoration: none; }
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
:focus {
	outline: 0;
}
/*	2. General
------------------------------------------------------ */

body {
	background: #f2f2f2;
	font: 12px/1.5 "Lucida Grande", Geneva, Arial, Verdana, sans-serif;
	color: #000;
}
h1{
	font-size:3em;
	margin-bottom:0.6em;
	line-height:1.2em;
}
h2{
	font-size:2em;
	margin-bottom:0.9em;
	line-height:0.9em;
}
h3{
	font-size:1.5em;
	margin-bottom:1.2em;
	line-height:1.2em;
	font-variant:small-caps;
}
h4{
	font-size:1.2em;
	margin-bottom:1.5em;
	line-height:1.5em;
	font-variant:small-caps;
}
h5{
	font-size:1em;
	margin-bottom:1.8em;
	line-height:1.8em;
	font-variant:small-caps;
}
h6{
	font-size:1em;
	margin-bottom:1.8em;
	line-height:1.8em;
}

/*	3. Links
------------------------------------------------------ */
a {
	color: #555;
	border-bottom: 1px solid #9baf9d;
}
/*a:visited {
  color: #ccc;
}*/
a:hover {
	color: #0088CC;
}
a:active {
	color: #2d909c;
}

/*  =Layout
------------------------------------------------------ */
#header {
    padding: 10px 0;
}/
#wrapper {
    width: 1000px;
    margin: 0 auto 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 3px #999;
    -webkit-box-shadow: 0 1px 3px #999;
    background: #fff;
    overflow: hidden;   
}
#content {
    background: #fff;
    float: right;
    width: 759px;
    padding: 20px;
    border-left: 1px solid #e8e8e8;
    color: #3a3936;
    font-size: 14px;
}
#subnav {
    float: left;
    width: 200px;
    background: #fff;
}*/
/*  =Main navigation
------------------------------------------------------ */
#appname {
  float: left;
  font-size: 18px;
  text-decoration: none;
  border-bottom: none;
  color: #000;
  padding-top: 3px;
  padding-left: 10px;
  width: 190px;
}
#appname:hover {
  color: #0088CC;
}
#nav {
	float: left;
	margin: 10px 0 0 10px;
}
#nav li {
	float: left;
	padding-right: 20px;
}
#nav li a.now {
	color: #999;
}
#nav li a {
	color: #333;
	text-shadow: 0 2px 0 #FFFFFF;
	border: none;
}
#nav li a:hover {
	color: #0088CC;
}
#loginfo {
	float: right;
	font-size: 11px;
	color: #a8a49e;
}
#loginfo p {
	margin-bottom: 5px;
}
#loginfo a {
	float: right;
}
/*  =Content
------------------------------------------------------ */

#content p {
  padding: 10px 0;
  text-align: justify;
}

/* Stylization for tables */

table.standard {
	width: 100%;
	margin: 20px auto;
	border: none;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 12px;
}
table.standard td, 
table.standard th {
	border-top: 1px solid #e8e8e8;
	padding: 5px 7px;
	text-align: left;
	color: #000;
}

table.standard tr:nth-child(2n) {
	background: #f9f9f9;
}
table.standard tr:first-child, #content table tr:hover:first-child {
	background: none;
}
table.standard th {
	color: #333;
	text-shadow: 0 2px 0 #fff;
	font-weight: bold;
	border: none;
}
table.standard a {
	border: none;
	color: #000;
	text-decoration: underline;
}
table.standard a:hover {
  color: #0088CC;
}
table.standard td.number {
  text-align: right;
  padding-right: 10px;
  width: 100px;
}

/* Stylization for forms */

form.standard {
	width: 100%;
	margin: 0 auto;
}
form.standard div, 
form.standard ul {
	margin-bottom: 10px;
	font-size: 13px;
	overflow: hidden;
	position: relative;
}

form.standard label {
  display: block;
  float: left;
  width: 120px;
  text-align: left;
  padding: 4px 5px 4px 0;
}
form.standard  div > label:after {
  content: ":";
}
form.standard input[type=text],
form.standard input[type=password], 
form.standard textarea {
	padding: 3px;
	border: solid 1px #ccc;
	border-top-color: #555;
	border-left-color: #555;
	color: #4d483f;
	width: 250px;
	float: left;
	font-size: 13px;
}
form.standard select {
  padding: 3px;
	color: #4d483f;
	width: 260px;
	float: left;
	font-size: 13px;
}
form.standard textarea {
	width: 400px;
}

/* Radio & checkbox */
form.standard ul {
	list-style: none;
}
form.standard ul li {
	overflow: hidden;
	padding-bottom: 5px;
}

form.standard input[type=radio],
form.standard input[type=checkbox] {
  display:inline;
  margin-right: 10px;
}

form.standard .radios label, 
form.standard .checkbuttons label {
	display: inline;
	float: none;
}
form.standard input[type=submit] {
	margin-bottom: 10px;
}
form.standard .info {
	font-size: 12px;
	padding-left: 5px;
}
form.standard .hint {
	display: block;
	font-size: 10px;
	color: #aba7a7;
	margin-left: 130px;
	clear: both;
	float: left;
}
form.standard .actions {
  border-top: 1px solid #ccc;
  padding-top: 10px;
}
form.standard fieldset {
  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
form.standard legend {
  width: 100%;
  font-size: 15px;
  font-weight: bold;
}

ul.standard {
	font-size: 13px;
	padding-left: 20px;
	margin: 10px 0;
}
ul.standard li {
  list-style: disc;
}

form.standard .box {
  position: absolute;
  max-width: 200px;
  top: 0px;
  right: 5px;
}

/*  =Sidebar (Sub navigation)
------------------------------------------------------ */
#subnav > ul {
}
#subnav li {

}
#subnav > ul > li > a {
	display: block;
	width: 180px;
	padding: 10px;
	border-bottom: 1px solid #e5e5e5;
	color: #787C80;
	background: url("../images/arrows.png") no-repeat scroll 175px 2px transparent;
	text-shadow: 1px 1px #FFFFFF;
}
#subnav > ul > li > a:hover {
	color: #0088CC;
	background-position: 175px -67px;
}
#subnav > ul > li > a:active {
	color: #0088CC;
	background-position: 175px -31px;
}
#subnav > ul > li:first-child {
	padding-top: 10px;
}

#subnav > ul > li > ul {
  background: #f3f3f3;
  display: none;
}
#subnav > ul > li > ul a {
	display: block;
	width: 180px;
	padding: 5px 10px;
	border-bottom:none;
	color: #787C80;
	background: url("../images/arrows.png") no-repeat scroll -420px -3px transparent;
	text-shadow: 1px 1px #FFFFFF;
}

#subnav > ul > li > ul a:hover {
  color: #0088CC;
  background-position: -420px -39px;
	
}

#subnav li.selected > a {
  color: #000;
	background: url("../images/arrows.png") no-repeat scroll -119px -31px transparent;
}

#subnav li.selected ul {
  display: block;
}

/*  = Common stylization
------------------------------------------------------ */
.box {
	width: 80%;
	margin: 10px auto;
	background: #fff;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#F7F7F7));
	background: -moz-linear-gradient(top,  #fff,  #F7F7F7);
	padding: 5px;
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	font-size: 11px;
	color: #767571;
	line-height: 18px;
}
.box h4 {
	font-weight: bold;
	color: #000;
}
.box p {
  font-size: 11px;
}

.success {
	color: #72a03c;
}
.alert {
	color: #b53524;
}
.edit {
	display: inline-block;
	width: 16px;
	height: 16px;
	text-indent: -4000px;
	margin-right: 10px;
}
a.delete {
  color: #a00;
}

ins {
  font-weight: bold;
}
/*ins::before {
  content: "update";
  text-transform: uppercase;
  margin: 0 3px 0 0;
  display: inline-block;
  position: relative;
  top: -3px;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 9px/130% Arial, Helvetica, sans-serif;
  padding: .3em 1.5em .33em;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  color: #fef4e9;
  border: solid 1px #9dba7a;
  background: #f78d1d;
  background: -webkit-gradient(linear, left top, left bottom, from(#6aa5c3), to(#307092));
  background: -moz-linear-gradient(top,  #6aa5c3,  #307092);
  letter-spacing: 1px;
}*/
del {
	text-decoration: line-through;
}

/*	Introduction
	@
	@	Project: Tymon's Administration Panel
	@	Title: Styles for button links
	@	Release: 10.07.2010 @ 12:39
	@	Update:  10.07.2010 @ 12:39
	@
------------------------------------------------------ */

/*  =Stylization for button link
====================================================================== */

.button, input[type=submit] {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 11px/110% Arial, Helvetica, sans-serif;
	padding: .3em 1.5em .33em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover, input[type=submit] {
	text-decoration: none;
}
.button:active, input[type=submit] {
	position: relative;
/*  top: 1px;*/
}
p .button {
	margin: 0 5px;
}

/*  =Button colours
====================================================================== */

.button, input[type=submit] {
	color: #fef4e9;
	border: solid 1px #4f849f;
	background: #307092;
	background: -webkit-gradient(linear, left top, left bottom, from(#6aa5c3), to(#307092));
	background: -moz-linear-gradient(top,  #6aa5c3,  #307092);
}
.button:visited, input[type=submit] {
	color: #fff;
}
.button:hover, input[type=submit]:hover {
	color: #e0e0e0;
}
.button:active, input[type=submit]:active {
	color: #fef4e9;
	border: solid 1px #4f849f;
	background: #6aa5c3;
	background: -webkit-gradient(linear, left top, left bottom, from(#307092), to(#6aa5c3));
	background: -moz-linear-gradient(top,  #307092,  #6aa5c3);
}



