.DS_Store
*.class
target/
*.neodatis
.idea
*~
*~*
*.log
*.temp
backups
.swp
target
target-eclipse
build
.idea/
*.iml
*.iws
*.ipr
*.tmproj
*.xcodeproj
tmtags
.tmtags
*.MF
*.dylib
*.so
*.jar
*.patch
*.orig
*.rej
*.o
*.Po
*.Plo
*.a
*.lo
Makefile
lib/acct-6.5.4/config.h
lib/acct-6.5.4/config.status
lib/acct-6.5.4/files.h
lib/acct-6.5.4/libtool
lib/acct-6.5.4/stamp-h1
lib/acct-6.5.4/version.h
lib/pstree/config.cmd
lib/pstree/config.h
lib/pstree/config.mak
lib/pstree/config.md
lib/pstree/config.sub
lib/pstree/test/test