.DS_Store
*.class
target/
*.neodatis
.idea
*~
*~*
*.log
*.temp
backups
.swp
target
target-eclipse
build
.idea/
*.iml
*.iws
*.ipr
*.tmproj
*.xcodeproj
tmtags
.tmtags
*.MF
*.dylib
*.so
*.jar
*test
*.patch
*.orig
*.rej
*.o