Daniel Dettlaff <dmilith@gmail.com> 
Daniel Dettlaff <dmilith@verknowsys.com>
Daniel Dettlaff <dmilith@drakor.eu>
Tymon Tobolski <i@teamon.eu>
Jez Humble <jez@india.com>
Jez Humble <jhumble@fmtstdcsruat13.thoughtworks.com>
Jez Humble <jez@india.com>
