-@ val repos: List[git.Repository]
-@ val form: BaseForm

h2 Git repositories
table
  tr
    th Name
    th # of access keys
    - for(repo <- repos)
      tr
        td= linkTo(repo.name, "/git/" + repo.name)
        td= repo.authorizedKeys.size

h3 New repository
= form.toHtml
