@import "reset.css";
@import "layout.css";

.debug .container_12 {
    background-image: url(http://s.teamon.eu/960gs/12_col.png);
}

#lift__noticesContainer__ div {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#lift__noticesContainer__ ul {
    list-style: none;
}


/* Stylization for tables */

table.standard {
	width: 720px;
	margin: 20px auto;
	border: none;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 12px;
}
table.standard td,
table.standard th {
	border-top: 1px solid #e8e8e8;
	padding: 5px 0px;
	text-align: left;
	color: #000;
}

table.standard td.remove {text-align: right;}

table.standard tr:first-child, #content table tr:hover:first-child {
	background: none;
}
table.standard th {
	color: #333;
	text-shadow: 0 2px 0 #fff;
	font-weight: bold;
	border: none;
}
table.standard a {
	border: none;
	color: #000;
	text-decoration: underline;
}
table.standard a:hover {
  color: #0088CC;
}
table.standard td.number {
  text-align: right;
  padding-right: 10px;
  width: 100px;
}

ul.standard {
	font-size: 13px;
	padding-left: 20px;
	margin: 10px 0;
}
ul.standard li {
  list-style: disc;
}
