-@ val body: String
// -@ val flash: org.scalatra.FlashMap

!!!
html
  head
    title svd.web
    link(rel="stylesheet" href="/css/main.css" type="text/css")
  body
    #container
      #flash
        // = flash.get("notice")
        // = flash.get("alert")
      #nav
        a(href="/logger") Logger
        \|
        a(href="/git") Git
        \|
        a(href="/account-keys") Account keys
      = unescape(body)

