-@ val keys: Set[AccessKey]
-@ val form: BaseForm

h2 Keys


- if(!keys.isEmpty)
  table
    tr
      th
    - for(key <- keys)
      tr
        td= key
- else
  span No access keys. Add one below

h3 Add key
= form.toHtml
